body {
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: rgb(192, 192, 192);
  padding: 1em 1em;
}

main {
  flex: 1;
  background-color: slateblue;
  padding: 1em 1em;
  color: white;
}

#button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border: 1px solid white;
}

#status {
  padding: 1em 1em;
  margin-top: 1em;
  border: 1px solid white;
  height: calc(100% - 6em);
}

button {
  margin: 1em 1em;
  text-transform: uppercase;
}

footer {
  background-color: rgb(192, 192, 192);
  padding: 1em 1em;
}
